.uni-navbar-header .uni-navbar-header-btns {
	width: 18% !important;
}

.city {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-left: 8px;
	font-size: 24upx;
}

.filter-box {
	width: 90%;
	margin: 20upx auto 0;
}

.filter-box,
.flt-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ctgBox {
	width: 70%;
}

.ctg-btn-block {
	border: 1px solid #B4B4B4;
	border-radius: 50upx;
	overflow: hidden;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.ctgBtns {
	padding: 6upx 50upx;
	font-size: 32upx;
	border-radius: 50upx;
}

.ctgChecked {
	background: #F69A23;
	color: #fff;
}

.moreCtg {
	width: 30%;
	font-size: 32upx;
	text-align: left;
	display: flex;
	justify-content: flex-end
}

.input-view {
	width: 24%;
	text-align: center;
	overflow: hidden;
	display: flex;
	background-color: #e7e7e7;
	height: 60upx;
	border-radius: 30upx;
	flex-wrap: nowrap;
	margin: 14upx 0;
	line-height: 60upx;
}

.input-view .uni-icon {
	line-height: 60upx !important;
}

.input-view .input {
	height: 60upx;
	line-height: 60upx;
	width: 100%;
	font-size: 30upx;
}

.searh-innter {
	padding: 0 3%;
	width: 94%;
}

.search-ipt {
	background: url(../../static/icon-search.png) 15upx 50% no-repeat;
	padding-left: 20upx;
	background-size: auto 60%;
}

uni-input.search-ipt div {
	background: none;
	text-align: center;
}

.searchShow {
	padding: 0 4%;
	width: 80%;
	text-align: left;
}

.searchShow .search-ipt {
	background-position: right 50%;
	padding-left: 0;
	padding-right: 20upx;
}

.searchShow uni-input.search-ipt div {
	text-align: left;
}

.flt-txt {
	display: flex;
	background: url(../../static/icon-filter.png) 0 50% no-repeat;
	background-size: auto 65%;
	padding-left: 35upx;
}

.tag-view {
	margin: 10upx 20upx;
	display: inline-block;
}

.filter-ctg-list {
	padding-bottom: 100upx;
}

.f-block {
	display: inline-block;
	text-align: center;
}

.pop-ctg-block {
	padding-bottom: 20upx;
}

.pop-ctg-name {
	font-size: 32upx;
	line-height: 2;
	padding: 5upx 0;
}

.f-label {
	padding: 0
}

.checkbox {
	padding: 5upx 8px;
	border: 1px solid #CBCBCB;
	margin: 0 8upx 10upx;
	border-radius: 8upx;
	font-size: 26upx;
	color: #535353;
}

.selectBox {
	background: #F69A23 !important;
	color: #fff !important;
	border-color: #F69A23 !important;
}

.pop-ctg-btns {
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 40upx 0 20upx;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}

.pop-btn {
	width: 30%;
	background: #F69A23;
	color: #fff;
	font-size: 36upx;
	text-align: center;
	line-height: 1.8;
	margin: 10upx;
	border-radius: 50upx;
}

.pop-btn.cancel {
	background: #F8B402;
}

.cake-box {
	padding-bottom: 200upx;
}

.cake-box .uni-common-mt {
	margin-top: 0;
}

.cake-box .uni-padding-wrap {
	padding: 0;
	width: 100%;
}

.tab-foot {
	position: fixed;
	height: 150upx;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	border-top: 1px solid #eee;
}

.tab-foot-main,
.tab-foot-block,
.pop-qr-main {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.tab-foot-item {
	width: 30%;
	height: 100%;
	overflow: hidden;
}

.tab-foot-item.tab-foot-phone {
	width: 70%;
	background:url(/static/cake/phone-cell.png) 50% 50% no-repeat #b59f74;
	background-size: auto 50%;
}

.btn-phone {
	width: 100%;
}

.qr-txt {
	color: #b59f74;
}

.tab-foot-block {
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-content: center;
	align-items: center;
	font-size: 28upx;
}

.foot-qr-box {
	flex-direction: row;
}

.qr-txt {
	width: 30upx;
	line-height: 1.2;
	padding-right: 10upx;
}

.icon-qr {
	width: 100%;
	border: 1px solid #EEEEEE;
	border-radius: 10upx;
}

.pop-qr-main {
	padding: 50upx 0;
	flex-direction: column;
}

.tab-foot-name {
	width: 100%;
	color: #FFFFFF;
}

.foot-phone {
	font-size: 34upx;
}

@media screen and (min-device-width: 1025px) {
	.city {
		font-size: 14px;
	}

	.filter-box {
		width: 95%;
		margin: 10px auto 0;
	}

	.ctg-btn-block {
		border: 1px solid #B4B4B4;
		border-radius: 25px;
	}

	.ctgBtns {
		padding: 3px 25px;
		font-size: 16px;
		border-radius: 25px;
	}

	.moreCtg {
		font-size: 16px;
	}

	.input-view {
		height: 30px;
		border-radius: 15px;
		margin: 7px 0;
		line-height: 1;
	}

	.input-view .uni-icon {
		line-height: 1 !important;
	}

	.input-view .input {
		height: 30px;
		line-height: 1;
		width: 100%;
		font-size: 15px;
	}

	.searh-innter {
		height: 100%;
	}

	.search-ipt {
		height: 100%;
		background: url(../../static/icon-search.png) 7.5px 50% no-repeat;
		padding-left: 10px;
		background-size: auto 80%;
	}

	.searchShow .search-ipt {
		padding-right: 10px;
	}

	.top-search {
		height: 100%;
	}

	.flt-txt {
		padding-left: 17.5px;
	}

	.tag-view {
		margin: 5px 10px;
	}

	.filter-ctg-list {
		padding-bottom: 50px;
	}

	.pop-ctg-block {
		padding-bottom: 10px;
	}

	.pop-ctg-name {
		font-size: 16px;
		line-height: 2;
		padding: 3px 0;
	}

	.checkbox {
		padding: 3px 8px;
		border: 1px solid #CBCBCB;
		margin: 0 4px 5px;
		border-radius: 4px;
		font-size: 13px;
	}

	.pop-ctg-btns {
		padding: 20px 0 10px;
	}

	.pop-btn {
		font-size: 18px;
		margin: 5px;
		border-radius: 25px;
	}

}
